*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: "Poppins",sans-serif;
}

body{
    background-color: #eff3ff;
}
.container{
    width: 350px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
}

#card{
    width: 100%;
    padding: 30px 20px;
    border: 1px solid #fff;
    background-color: #83ef91;
    box-shadow: 5px 5px 10px rgba(61, 123, 59, 0.8) ;
    border-radius: 8px;
}
#card img{
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
}

#HP{
    width: 70px;
    background: #fff;
    padding: 8px 0px;
    border-radius: 30px;
    margin-left: auto;
    text-align: center;
}

.poke-name{
    text-align: center;
    color: #000;
}

.types span{
    color: #fff;
    font-size: 12px;
    border-radius: 15px;
    padding: 5px 20px;
    text-align: center;
}

.types{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.stats{
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 10px 0;
    align-items: center;
}

.stats p{
    color: #404060;
    text-shadow: 2px 2px 3px #5b5050;
}

.stats h3{
    display: flex;
    justify-content: center;
}

#btn{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 110%;
    left: 50%;
    width: 170px;
    background-color: #000;
    color: #fff;
    padding: 15px 0px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    border: none;
}